:root {
   --color-1: #002754;
   --color-2: #003e6f;
   --color-3: #006196;
   --color-4: #609fd9;
   --color-5: #83bffc;
   --color-6: #a7e1ff;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Lato", sans-serif;
}

h1 {
   font-size: 46px;
}
h2 {
   font-size: 38px;
}
h3 {
   font-size: 30px;
}
h4 {
   font-size: 25px;
}
h5 {
   font-size: 20px;
}
h6 {
   font-size: 17px;
}

.titre-center {
   text-align: center;
}

input,
select {
   border: 1px solid transparent;
   border-radius: 5px;
   padding: 5px;
   background-color: rgba(245, 245, 245, 0.384);
   outline: none;
   border: 1px solid rgb(209, 209, 209);

   transition: all 0.25s;
}
input:focus {
   border: 1px solid rgb(90, 90, 90);
}

/***********  buttons ***********/

.button__1 {
   border: none;
   border-radius: 4px;
   padding: 5px 12px;
   background: var(--color-3);
   color: white;
   transition: all 0.2s;
   margin: 0;

   cursor: pointer;
}

.button__1:hover {
   background: var(--color-2);
}

.button-71 {
   background-color: #696969;
   border: 0;
   border-radius: 56px;
   color: white;
   cursor: pointer;
   display: inline-block;
   font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu,
      "Helvetica Neue", sans-serif;
   font-size: 15px;
   font-weight: 500;
   outline: 0;
   padding: 6px 10px;
   position: relative;
   text-align: center;
   text-decoration: none;
   transition: all 0.3s;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
}

.button-71:before {
   background-color: initial;
   background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
   border-radius: 125px;
   content: "";
   height: 50%;
   left: 4%;
   opacity: 0.5;
   position: absolute;
   top: 0;
   transition: all 0.3s;
   width: 92%;
}

.button-71:hover {
   box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
      rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
   transform: scale(1.05);
}

@media (min-width: 768px) {
   .button-71 {
      padding: 10px 30px;
   }
}

.btn-72 {
   background-color: #696969;
   border: 0;
   border-radius: 56px;
   color: whitesmoke;
   cursor: pointer;
   display: inline-block;
   font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu,
      "Helvetica Neue", sans-serif;
   font-size: 15px;
   font-weight: 500;
   outline: 0;
   padding: 6px 10px;
   position: relative;
   text-align: center;
   text-decoration: none;
   transition: all 0.3s;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
}

.btn-72:before {
   background-color: initial;
   background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
   border-radius: 125px;
   content: "";
   height: 50%;
   left: 4%;
   opacity: 0.5;
   position: absolute;
   top: 0;
   transition: all 0.3s;
   width: 92%;
}

.btn-72:hover {
   box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
      rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
   transform: scale(1.05);
}

@media (min-width: 768px) {
   .btn-72 {
      padding: 10px 30px;
   }
}

/* CSS */

.button-81 {
   width: 150px;
   text-transform: capitalize;
   background-color: #fff;
   border: 0 solid #e2e8f0;
   border-radius: 1.5rem;
   box-sizing: border-box;
   color: #808080;
   cursor: pointer;
   display: inline-block;
   font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   font-size: 1.1rem;
   font-weight: 600;
   line-height: 1;
   padding: 1rem 1.6rem;
   text-align: center;
   text-decoration: none #0d172a solid;
   text-decoration-thickness: auto;
   transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
   box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
}

.button-81:hover {
   background-color: #ccc;
   color: #fff;
}

@media (min-width: 768px) {
   .button-81 {
      font-size: 15px;
      padding: 10px 10px;
   }
}

table,
td,
th {
   border: 1px solid #ddd;
   text-align: left;
}

table {
   border-collapse: collapse;
   width: 300px;
}

th,
td {
   padding: 15px;
}

.container {
   padding: 20px;
}

.matiere__titre {
   font-size: 30px;
   margin-bottom: 15px;
}

main {
   padding: 20px;
}

.hidden {
   display: none;
}
